<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
       
  <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%t] %c %p - %m%n"/>
    </layout>
  </appender>
   
  <category name="com.sightlyinc">
    <priority value="debug"/>
  </category> 
  
    <category name="org.springframework">
    <priority value="error"/>
  </category>

  <category name="org.codehouse">
    <priority value="error"/>
  </category>

	<category name="com.simplegeo">
    <priority value="debug"/>
  </category>

  <category name="com.noi.utility">
    <priority value="debug"/>
  </category> 
  
 <!--  
  <category name="com.simplegeo">
    <priority value="debug"/>
  </category> 
    
  <category name="org.drools">
    <priority value="debug"/>
  </category> 
  
  <category name="twitter4j.internal">
    <priority value="debug"/>
  </category> 
  
  <category name="com.sightlyinc">
    <priority value="debug"/>
  </category> 
    
  <category name="org.apache.xerces.parsers">
    <priority value="debug"/>
  </category>  
   
  <category name="org.apache">
    <priority value="debug"/>
  </category>  
  
  <category name="org.springframework">
    <priority value="debug"/>
  </category>   --> 

  
   <root>
    <priority value="off"/>
    <appender-ref ref="consoleAppender"/>
  </root>

</log4j:configuration>

