
#foreach($row in $rows)

INSERT INTO `site` ( `version`, `name`, `url`, `description`, `is_active`, `publisher_id`, `time_created`, `time_updated` )
VALUES ( 0, '${row.get(0)}', '${row.get(1)}', '${row.get(2)}', 1, ${row.get(3)}, 1314673289280, 1314673289280 );
#end 
