{
	"status" : "${status}"#if(${place}),
	"place"	: {
		#if(${place.id})		
		 "id": ${place.id},#end 
		 "simpleGeoId": "${place.simpleGeoId}", 
		 "name": "$!{encoder.encodeString($place.name)}"#if(${place.address}),
		 "address": "${place.address}"#end		
	}#end
}