/*------- html */
html, body {	
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

h1 {
	font: normal 2em verdana, arial, helvetica, sans-serif;
}

h2 {  
	font: normal 1.7em verdana, arial, helvetica, sans-serif;
}

h3 {  
	font: normal 1.6em verdana, arial, helvetica, sans-serif;
	color: #003333;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}

h4 {  
	font: normal 1.5em verdana, arial, helvetica, sans-serif;
}

h5 {  
	font: normal 1.2em verdana, arial, helvetica, sans-serif;
}

h6 {  
	font: normal 1em verdana, arial, helvetica, sans-serif;
}

strong {  
	/*font: bold verdana, arial, helvetica, sans-serif;*/
	color:#5a9147; 
	text-decoration:bold;
}

a:link              { color:#5a5a5a; text-decoration:underline; }
a:visited           { color:#888888; text-decoration:underline; }
a:hover             { color:#7c7c7c; text-decoration:underline; }
a:active            { color:#5a9147; text-decoration:underline; }

textarea { width: 500px; height: 150px; }


/*------- classes */

.strong-16 {
	font: bold 1.6em verdana, arial, helvetica, sans-serif;
}

.strong-14 {
	font: bold 1.4em verdana, arial, helvetica, sans-serif;
}

.strong-12 {
	font: bold 1.2em verdana, arial, helvetica, sans-serif;
}

.strong-10 {
	font: bold 1.2em verdana, arial, helvetica, sans-serif;
}

.strong-8 {
	font: bold 0.8em verdana, arial, helvetica, sans-serif;
}

.dash-text-20 {
	font: 2.0em  arial, helvetica, sans-serif;
}
.dash-text-40 {
	font: 4.0em  arial, helvetica, sans-serif;
}

.text-16 {
	font: 1.6em verdana, arial, helvetica, sans-serif;
}


.text-14 {
	font: 1.4em verdana, arial, helvetica, sans-serif;
}


.text-12 {
	font: 1.2em verdana, arial, helvetica, sans-serif;
}

.text-10 {
	font: 1.0em verdana, arial, helvetica, sans-serif;
}

.inner_title_1 {
	color:#48A23E;
	font-weight:bold;
	font-size:1.0em;
}

.error { 
	font: normal 1.0em verdana, arial, helvetica, sans-serif;
	color: #ff0000;	
}

.frame { padding: 5px; border: 1px solid #aaa; }
.fill-frame { width: 100%; }

.align-right { text-align:right; }
.align-left { text-align:left; }
.align-center { text-align:center; }

.padding-10 { padding: 10px; }
.padding-5 { padding: 5px; }

.bottom-10 { margin-bottom: 10px; }
.bottom-5 { margin-bottom: 5px; }

/*------- forms */
.textinput { width: 500px; }

.even-row {background: #DDEBC7; }
.odd-row {background: #ffffff; }

