<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Telex' rel='stylesheet' type='text/css'>
		<style type="text/css">
body{
		font-family: Telex, sans-serif;
		}
		.padding-bottom-10 {
		padding-bottom: 10px;
		}

		.htitle {
		font-size: 1.2em;
		}
		.htext {
		font-style: italic;
		}
		.ptitle {
		font-size: 0.8em;
		}
		.ptext {
		font-family: monospace;
		font-weight: bold;
		font-size: large;
		margin-bottom:5px;
		}
		.items {
		font-size: 0.8em;
		}

		.otitle {
		width: 100px;
		}
		</style>
		<title></title>
	</head>
	<body>
		<div class="padding-bottom-10">
			<div class="htitle">
				Welocally Activation
			</div>
			<div class="htext">
				<p>
					Thanks so much for registering with with Welocally. Before we can enable your account we need to know that we can contact you and that you are a real human, thats why we make you activate by email. Please go ahead and click the link below to activate your account.
				</p>
			</div>
		</div>
		<div class="padding-bottom-10">
			<div class="htitle">
				<h3>
					Publisher Info
				</h3>
			</div>
			<div>
				<div class="ptitle">
					Username:
				</div>
				<div class="ptext">
					<h4>
						$!{username}
					</h4>
				</div>
			</div>
		</div>
		<div>
			<h2><a href="$!{activationUrl}">Click Here To Activate Your Account</a></h2>
		</div>
	</body>
</html>
