{
#if(${placesSearchToken})	"token": "${placesSearchToken}",#end
	"places": [
	#foreach($place in $places)
	{
	  	"externalId": "${place.simpleGeoId}",
	  	"type": "$!{place.type}", 
	  	"name": "$!{place.name}", 	  		
#if(${place.latitude})		"latitude": $!{place.latitude},
#end
#if(${place.longitude})		"longitude": $!{place.longitude},
#end
	  	"address": "$!{place.address}", 
	  	"city": "$!{place.city}", 
	  	"state": "$!{place.state}",
	  	"postalCode": "$!{place.postalCode}",
	  	"phone": "$!{place.phone}",
	  	"website": "$!{place.website}",   	
#if(${place.categories})
	  	"categories":[
#foreach($cat in $place.categories) "$cat"#if($velocityCount < $place.categories.size()),#end#end]
#end	  		
	}#if($velocityCount < $places.size()),#end
#end]
}